{% extends "supply/base.html" %}
{% load forms_tags %}

{% block title %}Single Supply - {{ block.super }}{% endblock %}

{% block left %}
<div class="module">
    <h2>Supply Details</h2>
    <p>Location: <a href="{% url locations sreq.location.pk %}">{{ sreq.location.name }}</a></p>
    <p>Requested: {{ sreq.type }}</p>
    <p>Requested by: {{ sreq.requested_by|default:"UNKNOWN" }} on {{ sreq.created|date:"D d M Y" }}</p>
    
    <form action="" method="post">
        {% render_form form %}
        <div class="submit">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
{% endblock %}

{% block right %}
<div class="module">
	<h2>Let's put a map here</h2>
</div>
{% endblock %}
